
:root{
    --primary: #0699A6;
    --secundary: #9e8c6c;
    --background: #FFF;
    --bg-header: #9e8c6c11;
    --text-light: #333;
    --text-dark: #fff;
}

/*---------------------*/


body{
    margin: 0 auto;
}
#header {
    width: 100%;
    height: auto;
    background-color: var(--bg-header);
} 
.info {
    display: flex;
    margin: 0 auto;
}
.profile-info {
     margin: 180px 0px 217px 165px;
}
.profile-text{
    align-content: center;
    width: 50%;
    margin-left: 125px;
}
.firt-paragraph{
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;  
    margin: 0 auto;
    color: var(--secundary);
}
.name {
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 126px;
    line-height: 112px;
    letter-spacing: -2.17px;
    margin: 10px auto 40px ;
}
.btn{
    margin-top: 40px;
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-dark);
    padding: 18px 62px;
    background-color: var(--primary);
}

/*-------------------------------------------------*/

#container{
    display: flex;
    margin: 0 auto;
}
.card-1d{
    display: flex;
    flex-direction: column;
}
.section-1a{
    margin: 0 auto;
    width: 350px;
    height: auto;
    margin: 96px 138px 74px 165px;
}
.section-2a{
    margin: 77px 152px 80px 0px;
    width: 635px;
    height: auto;
}
.card-1a{
    margin-bottom: 100px;
}
.skillset-title{
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secundary);
}
.skillset{
    font-family: PT Sans Narrow;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
    margin: 0 auto;
}
.card-2a{
    margin-bottom: 100px;
}
.card-1b{
    margin-bottom: 100px;
}
.awards-title{
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secundary);
}
.awards{
    font-family: PT Sans Narrow;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0px;
    margin: 0 auto;
}
.card-1c{
    margin-bottom: 100px;
}
.carrer-traits-title{
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secundary);
}



/*--------------------------------------------------------*/



#footer{
    width: 100%;
    height: auto;
    background-color: var(--bg-header);
}
.footer-info{
    width: 793px;
    height: auto;
    top: 2653px;
    left: 324px; 
    margin: 0 auto;
    padding: 117px 0 111px;
}
.footer-title{
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 66px;
    line-height: 82px;
    letter-spacing: -1.14px;
    text-align: center;
    margin-bottom: 40px;
}
.email{
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
    color: var(--primary);
}
.numero{
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0 auto;
    color: var(--primary) ;
}
.rede-social{
    width: 242px;
    height: 25px;
    display: flex;
    margin: 0 auto;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
}
.rede-social-1{

}
.list-social{
    margin: 20px auto;
}

